

*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Helvetica,Helvetica,Arial,sans-serif;
font-weight: 400;
line-height: 1.6;
}

.section-one {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-443446.jpg&fm=jpg");
}
.section-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
header{
  width: 100%;
}
input{
  width:100%;
  padding: 10px;
}

.section-overlay p {
  width: 100%;
  margin: 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  text-align: start;
  letter-spacing: 0.2px;
}
.section-overlay h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  text-align: start;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

@media screen and (min-width:900px){
  .section-overlay{
    padding: 100px;
  }
  
}




.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
 
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    width: 100%;
    margin-bottom: 15px; /* space between items */
  }
}